@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Playfair+Display:100,200,300,400,500,600,700,800,900');

html {
    scroll-behavior: smooth;
}

/*-------------------------------------------- Fonts -------------------------------------*/
.raleway {
    font-family: 'Raleway', sans-serif;
}

.playfair-display {
    font-family: 'Playfair Display', sans-serif;
}

/*-------------------------------------------- Text & Headings -------------------------------------*/
.section-heading {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

/*-------------------------------------------- Dividers -------------------------------------*/
hr {
    width: 75% ;
}

/*-------------------------------------------- Nav -------------------------------------*/
.main-nav {
    font-size: 130%;
    background-color: #333;
}

.main-nav nav ul li {
    display: grid;
    margin: 0;
    place-items: center center;
}

.main-nav nav ul li a {
    color: #fff;
    display: grid;
    margin: 0;
    place-items: center center;
}

.main-nav nav ul .nav-brand {
    font-size: 200%;
}

.main-nav nav ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

.main-nav nav ul li a:active {
    color: #fff;
    text-decoration: underline;
}

.main-nav nav ul li a:focus {
    color: #fff;
    text-decoration: underline;
}

.collapsed-nav {
    font-size: 120%;
    background-color: #333;

}

.collapsed-nav nav h3 a {
    color: #fff;
}

.collapsed-nav nav button {
    color: #fff;
}

#collapsedNav ul li:hover, #collapsedNav ul li:active, #collapsedNav ul li:focus {
   text-decoration: underline;
}

#collapsedNav ul li a {
    color: #fff;
}

/*-------------------------------------------- Welcome Section -------------------------------------*/
.welcome-section {
    background: url(../images/welcome-section-image.jpg) no-repeat center;
    background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    height: 60vh;
    display: grid;
    margin: 0;
    place-items: center center;
    margin-bottom: 50px;
}

.welcome-section h1 {
    font-size: 400%;
    color: #fff;
}

/*-------------------------------------------- About Section -------------------------------------*/
.about-section {
    padding-top: 100px;
}

.profile-picture img {
    margin: 5px;
    max-height: 500px;
}

.personal-info {
    margin-top: 50px;
    border-left: 1px solid grey;
}

.personal-details {
    margin-left: 25px;
}

.biography {
    margin-left: 25px;
}

.education .section-heading {
    margin-bottom: 50px;
}

.education-card {
    margin-left: 50px;
}

.work-experience .section-heading {
    margin-bottom: 50px;
}

.work-card {
    margin-left: 50px;
}

.download-button {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 200%;
    border: 1px solid #000;
}

.download-button a {
    color: #000;
    text-decoration: none;
}

/*-------------------------------------------- Projects Section -------------------------------------*/
.projects-section {
    padding-top: 100px;
    background-color: #ccc;
}

.projects-section h4 {
    margin-top: 25px;
}

.project-card {
    padding: 25px;
    margin: 25px auto;
    text-align: center;
    border-bottom: 1px solid #333;
    width: 90%;
    height: 250px;
}

.project-card button {
    border: 1px solid #000;
}

.project-card button a {
    color: #000;
}

.project-card button a:hover {
    text-decoration: none;
}

/*-------------------------------------------- Skills Section -------------------------------------*/
.skills-section {
    padding-top: 100px;
}

.skills-card ul {
    margin-left: 25px;
    margin-top: 45px;
    font-size: 120%;
    align-self: center;
}

.skills-card ul li {
    align-self: center;
}

.skills-card h4 {
    margin-top: 15px;
}

.skill {
    width: 90%;
    margin: 15px;
}

.skill .progress {
    height: 25px;
    border-radius: 0%;
}

.skill .progress .progress-bar {
    background-color: #333;
    font-size: 130%;
    text-align: end;
    padding-right: 10px;
    border-radius: 0%;
}

/*-------------------------------------------- Contact Section -------------------------------------*/
.contact-section {
    padding-top: 50px;
    background-color: #ccc;
    color: #000;
    padding-bottom: 50px;
}

.contact-section nav ul li a {
    color: #000;
    font-size: 150%;
}

.contact-section nav ul li a:hover {
    color: #000;
    text-decoration: none;
}

.icons {
    margin: 25px 0;
    font-size: 150%;
}

.icons ul {
    list-style: none;
    color: #000;
}

.icons ul a {
    color: #000;
    margin: 25px;
}

.icons a:hover {
    color: #000;
    text-decoration: none;
}

@media (max-width: 767px) {
    .personal-info {
        padding: 0;
        border: none;
        text-align: center;
    }
    .personal-details, .biography {
        margin: 10px;
    }

    .work-experience {
        text-align: center;
    }

    .work-card {
        margin: 10px;
    }

    .education {
        text-align: center;
    }

    .education-card {
        margin: 10px;
    }

    .download-cv h2 {
        margin: 10px;
    }

    .projects-section h4 {
        margin: 25px 10px 10px 10px;
    }
}