@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Playfair+Display:100,200,300,400,500,600,700,800,900');

html {
    scroll-behavior: smooth;
}

/*-------------------------------------------- Fonts -------------------------------------*/
.raleway {
    font-family: 'Raleway', sans-serif;
}

.playfair-display {
    font-family: 'Playfair Display', sans-serif;
}

/*-------------------------------------------- Nav -------------------------------------*/
