@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Playfair+Display:100,200,300,400,500,600,700,800,900');

html {
    scroll-behavior: smooth;
}

/*-------------------------------------------- Fonts -------------------------------------*/
.raleway {
    font-family: 'Raleway', sans-serif;
}

.playfair-display {
    font-family: 'Playfair Display', sans-serif;
}

/*-------------------------------------------- Text & Headings -------------------------------------*/
.section-heading {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

/*-------------------------------------------- Dividers -------------------------------------*/
.content-divider {
    width: 25%;
    margin: 0 auto;
    border-bottom: 3px solid #666;
}

hr {
    width: 75% ;
}

/*-------------------------------------------- Nav -------------------------------------*/
.main-nav {
    font-size: 130%;
    background-color: #333;
}

.main-nav nav ul li {
    display: grid;
    margin: 0;
    place-items: center center;
}

.main-nav nav ul li a {
    color: #fff;
    display: grid;
    margin: 0;
    place-items: center center;
}

.main-nav nav ul .nav-brand {
    font-size: 200%;
}

.main-nav nav ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

.main-nav nav ul li a:active {
    color: #fff;
    text-decoration: underline;
}

.main-nav nav ul li a:focus {
    color: #fff;
    text-decoration: underline;
}

.collapsed-nav {
    font-size: 120%;
    background-color: #333;

}

.collapsed-nav nav h3 a {
    color: #fff;
}

.collapsed-nav nav button {
    color: #fff;
}

#collapsedNav ul li:hover, #collapsedNav ul li:active, #collapsedNav ul li:focus {
   text-decoration: underline;
}

#collapsedNav ul li a {
    color: #fff;
}

/*-------------------------------------------- Welcome Section -------------------------------------*/
.welcome-section {
    background: url(../images/welcome-section-image.jpg) no-repeat center;
    background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    height: 60vh;
    display: grid;
    margin: 0;
    place-items: center center;
    margin-bottom: 50px;
}

.welcome-section h1 {
    font-size: 400%;
    color: #fff;
}

/*-------------------------------------------- About Section -------------------------------------*/
.about-section {
    height: 150vh;
    padding-top: 100px;
}

.personal-info {
    margin-top: 50px;
    border-left: 1px solid grey;
}

.personal-details {
    margin-left: 25px;
}

.biography {
    margin-left: 25px;
}

.education .section-heading {
    margin-bottom: 50px;
}

.education-card {
    margin-left: 50px;
}

.work-experience .section-heading {
    margin-bottom: 50px;
}

.work-card {
    margin-left: 50px;
}